<!--   <form method="post" action="/Maths/adder"> -->
  <form method="post" action="/Maths/result">
  <input type="number" name="left" value="0" step="any" required>
  ?
  <input type="number" name="right" value="0" step="any" required>
  <br>
  <br>
  <button name="operation" value="add">+</button>
  <button name="operation" value="subtract">-</button>
  <button name="operation" value="multiply">*</button>
  <button name="operation" value="divide">/</button>
  <button name="operation" value="modulo">mod</button>
  <button name="operation" value="exponentiate">^</button>
</form> 
